on: [push]

name: Build Docker Image

jobs:
  build_and_test:
    name: Rust project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - uses: actions-rs/toolchain@v1
        with:
            toolchain: stable
            target: wasm32-unknown-unknown
      
      - name: Reading version
        run: |
          version=$(grep -m1 -oP 'version = "\K[^"]+' Cargo.toml | awk 'NR==1{print}');
          echo "Version: $version";
          echo "VERSION=$VERSION" >> $GITHUB_ENV

      - name: Install trunk
        run: cargo install trunk
      
      - name: Building with trunk
        run: trunk build --release

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/sandbox:latest, ${{ secrets.DOCKERHUB_USERNAME }}/sandbox:${{ github.env.VERSION }}
